h1{
	text-align: center;
	margin-top: 100px;
	
}

body{
	background-color: black;
	color:white;
}

table{
	
	font-size:22px;
	margin-top: 50px;
    margin-bottom: 10px;
    margin-right: 9px;
    margin-left: 100px;
	width:80%;
	
	
}


.TabelaUsuario th, td{
	
	padding: 10px;
}

.CampoExcluirUsuario input[type="text"]:focus{
	
	 background-color: #FFC;
	 /*deixa um cor de focuus no fundo*/
}

.CampoExcluirUsuario input[name="DeletaUsuario"]{
	width: 15%;
	color: #000000; /*Cor da fonte*/
	border: 5px; /*tamanho da linha borda dos campos*/
    border-style: inset; /*estilo da borda*/
	margin-bottom: 1em; /*espaçamento entre os campos*/
	border-width:2px; /*tamanho da borda*/
	padding: 8px;
	font-size:15px;
}

.CampoExcluirUsuario label{
	
	font-size:20px;
}


button {
    font-size: 1em; /*tamanho da fonte do botão*/
    border: 1;  /*tamanho da borda do botão*/
    margin-bottom: 1em; /*espaçameto*/
	margin-top:20px;
	padding: 7px;
	
}

