body {
	
	background-color: black;
	margin-top: 110px;
    margin-right: 60px;
    margin-left: 120px;
	text-align: center;
	
	 
	
}

a{
	text-decoration: none;
	color: white;
	font-family: 'Indie Flower', bold;
	font-size: 30px;

}