body{
	background-color:#4F4F4F;
	color:white;
	width:1300px;
}
#pesquisa{
margin-left: 80%;
margin-top:-14%;
position:fixed;

	
	
	
}
#campopesquisa{
border-radius:5px;	
text-shadow:0px 0px 9px #8B8989;
	
}
#TOPO{/*posição da div TOPO (representa todo o inicio FIXO da pg)*/
height:100px;
width:99%;
position:fixed;
font-family: 'Slabo 27px', serif;
background-color:black;
color:white;
border-radius: 10px;
z-index:3;
	}
#LOGO{/*posição e tamanho da logo (foto)*/
left:50px;
height:100px;
width:200px;
position:relative;
}

#Bfilme{/*posição do botão Filme*/
width:100px;
position:relative;
top: -110px;
left: 280px;	
text-shadow:0px 0px 9px #8B8989;
font-size:40px;	
z-index:1;
} 
#Breceita{/*posição do botão receita*/
width:100px;
position:relative;
top: -190px;
left: 400px;	
text-shadow:0px 0px 9px #8B8989;
font-size:40px;	
z-index:1;	
}
#ImgLog{
height:80px;	
width:80px;
position:relative;
top: -285px;
left: 900px;
	
}
#Login{


position:absolute;
top: 5px;
left: 20%;	
text-shadow:0px 0px 9px #8B8989;
font-size:20px;	
color:white;
text-decoration:none; 
z-index:1;
}
#Cadastro{



position:absolute;
top: 5px;
left: 50%;	
text-shadow:0px 0px 9px #8B8989;
font-size:20px;	
color:white;
text-decoration:none; 
z-index:1;
}
#NovidadesFilmes{
background-color:black;	
height:100px;
top:720px;
width:99%;
position:absolute;
font-family: 'Slabo 27px', serif;

border-radius: 5px;
font-size:27px;
z-index:2;
}
#NovidadesReceitas{
background-color:black;	
height:100px;
top:1250px;
width:99%;
position:absolute;
font-family: 'Slabo 27px', serif;
z-index:2;
border-radius: 5px;
	font-size:27px;
}
#Filme1{border-radius: 10px;
	z-index:2;
position:relative;	
left:120px;
background-color:#4F4F4F;
width:350px;
height:400px;box-shadow: 0px 2px 9px white;
	text-shadow:0px 0px 9px #8B8989;	
}
#Filme2{border-radius: 10px;z-index:2;
	top:-432px;
position:relative;	
left:520px;
background-color:#4F4F4F;
width:350px;
height:400px;box-shadow: 0px 2px 9px white;
	text-shadow:0px 0px 9px #8B8989;
}
#Filme3{
	box-shadow: 0px 2px 9px white;z-index:2;
	text-shadow:0px 0px 9px #8B8989;
	border-radius: 10px;
	top:-865px;
position:relative;	
left:920px;
background-color:#4F4F4F;
width:350px;
height:400px;	
}
.NovidadesIMG{
height:300px;
width:300px;
	border-radius: 5px;
}
#Receita1{box-shadow: 0px 2px 9px white;
	text-shadow:0px 0px 9px #8B8989;z-index:2;
	top:25px;
position:relative;	
left:120px;
background-color:#4F4F4F;
width:350px;
height:400px;	
border-radius: 10px;
}
#Receita2{
	box-shadow: 0px 2px 9px white;z-index:2;
	text-shadow:0px 0px 9px #8B8989;
	top:-410px;
position:relative;	
left:520px;
background-color:#4F4F4F;
width:350px;
height:400px;
border-radius: 10px;
}
#Receita3{z-index:2;
	box-shadow: 0px 2px 9px white;
	text-shadow:0px 0px 9px #8B8989;
	border-radius: 10px;
	top:-845px;
position:relative;	
left:920px;
background-color:#4F4F4F;
width:350px;
height:400px;	
}
#Fnome{
	height:50px;
	top:-820px;
}
#Rnome{
	height:50px;
	
}
#Carrossel{
border-radius: 10px;
top:150px;
background-color:black;
position:absolute;
height:200px;
width:99%;
}
#username{

position:absolute;
top: 10px;
left: 20%;	
text-shadow:0px 0px 9px #8B8989;
font-size:20px;	
color:white;
text-decoration:none; 
z-index:1;

}
#sair{

position:absolute;
top: 10px;
left: 80%;	
text-shadow:0px 0px 9px #8B8989;
font-size:20px;	
color:white;
text-decoration:none; 
z-index:1;

}
#LoginCadastro{
	left:70%;

height:100px;
width:350px;
top:0px;
position:absolute;
}


a:link {text-decoration: none;color: white}
a:active {text-decoration: none;}
a:visited {text-decoration: none;color: white}
a:hover {text-decoration: underline;color: white}
