body{color:white;
	background-color: black;	
}

.corpo{
color:white;
margin-left:100px;
margin-top:220px;
font-size:18px;
width:80%

}

.filme, .receita{
	
	margin-left:50px;
	margin-top:220px;
	
	
}



